{% extends 'base.html' %}

{% block content %}
<h1>Team Maintenance</h1>
<p> <a href="/admin">Exit Team Maintenance</a> </p>

{% for team in all_teams %}
<form class="delete-form" action="/teams/{{team.id}}/delete" method="POST">
    <button class="trash-button"><i class="fas fa-trash fa-1x" aria-hidden="true"> </i></button>

    <!-- {{team.team_name}} <a href="/teams/edit">Edit</a> -->
    {{team.team_name}} <a href="/teams/{{team.id}}">Edit</a>
    <!-- <button class="edit-button"><i class="fas fa-edit fa-1x"></i></button> -->
</form>
<!-- {{team.team_name}} <a href="/teams/edit">Edit</a> -->
{% endfor %}

<br>
<p><a href="/teams/new">Add Team to League</a></p>

{% endblock %}