{% extends 'base.html' %}

{% block content %}

<h1>Welcome to Sports Scoring App Main Page</h1>
<h3>Explanation of the website will go here</h3>
<p>Magna anim sint est consectetur labore anim laborum duis amet excepteur enim sit. Cillum eu reprehenderit anim minim
    laborum reprehenderit ea. Nostrud fugiat veniam culpa mollit veniam nulla sunt quis cupidatat. Labore minim elit ex
    aute magna proident ut nostrud.Voluptate exercitation velit esse laboris irure officia fugiat proident ut excepteur
    proident dolor non. Laborum proident consequat in officia sunt. Sint consequat sint enim eu do occaecat ad officia.
<p>
    Minim ex ipsum commodo id incididunt qui incididunt fugiat sunt sit est occaecat labore. Eu duis eiusmod excepteur
    irure non reprehenderit non ullamco non. Esse magna velit qui voluptate nulla esse commodo. Reprehenderit id
    proident eu laborum nostrud ex. Incididunt ut id enim irure in ullamco laboris et incididunt.
</p>
<p>
    Ullamco ea do ipsum sint. Magna magna ut proident consectetur nostrud labore labore sit ipsum occaecat magna ut
    aliqua excepteur. Duis duis officia deserunt aliqua consequat mollit voluptate cillum ex ad Lorem commodo excepteur
    cillum. Laboris laboris ex nulla dolore fugiat consequat irure proident ullamco est.
</p>
<p>
    Aute esse aute cillum eu adipisicing laborum aute velit qui mollit. Laboris reprehenderit aliquip deserunt dolor
    tempor laborum commodo veniam qui est. Dolor laborum laborum commodo consequat est non dolore velit. Excepteur sunt
    duis pariatur deserunt non duis aliqua occaecat sit. Ea sint Lorem voluptate aliquip. Aute cillum dolore culpa quis
    tempor. Nostrud nulla laboris eu nisi qui est ullamco nostrud consectetur do elit.</p>
</p>

{% endblock %}