{% extends 'base.html' %}

{% block content %}



<!-- Display teams in the league -->
<table>
    <tr>
        <th>Pos</th>
        <th>Team Name</th>
        <th>Played</th>
        <th>Won</th>
        <th>Drawn</th>
        <th>Lost</th>
        <th>For</th>
        <th>Against</th>
        <th>GD</th>
        <th>Points</th>
        <th>Form</th>

        <!-- <th>League ID</th> -->
    </tr>
    {% for team in teams %}
    <tr>
        <td>{{team.id}}</td>
        <td>{{team.team_name}}</td>
        {% for stat in stats %}
        <td>
            {{stats[stat]}}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}


</table>


{% endblock %}